# General LaTeX compilation files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.synctex.gz
*.fdb_latexmk
*.fls
*.ist

# Temporary glossary and acronym archives
*.glo
*.glg
*.gls
*.acn
*.acr
*.alg